@import "variables";

html {
  font-family: 'geologica', sans-serif;
  background-color: $color-secondary;
  color: $color-primary;
}


h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.7rem;
}