@import "variables";

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: geologica;
  src: url('../fonts/Geologica_Auto-Thin.ttf');
}

.section {

}

.gradient-primary {
  background: linear-gradient(0deg, $color-primary 0%, $color-secondary 100%);
}

.gradient-secondary {
  background: linear-gradient(0deg, $color-secondary 0%, $color-primary 100%);
}

.text-vertical {
  writing-mode: vertical-rl;
  text-orientation: upright;
  user-select: none;
  white-space: nowrap;
}

.pill {
  background-color: $color-primary;
  color: $color-secondary;
  padding-inline: 1rem;
  padding-block: 0.5rem;
  border-radius: 1rem;
  user-select: none;
  word-break: break-all;
}