@import "variables";

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: geologica;
  src: url('../fonts/Geologica_Auto-Thin.ttf');
}

.section {
  max-width: 900px;
  min-height: 100vh;
  margin: auto;
  padding-block: 4rem;
}

.gradient {
  background: linear-gradient(0deg, $color-primary-dark 0%, $color-secondary 100%);
}

.gradient-alternate {
  background: linear-gradient(0deg, $color-secondary 0%, $color-primary-dark 100%);
}

.text-vertical {
  writing-mode: vertical-rl;
  text-orientation: upright;
  user-select: none;
  white-space: nowrap;
}

.pill {
  background-color: $color-primary;
  color: $color-secondary;
  padding-inline: 1rem;
  padding-block: 0.5rem;
  border-radius: 1rem;
  user-select: none;
  word-break: break-all;
}

.btn-primary {
  background-color: $color-primary;
  color: $color-secondary;
  padding-inline: 1rem;
  padding-block: 0.5rem;
  border-radius: 0.5rem;
}

@media (max-width: $breakpoint-tablet) {
  .section {
    width: 95%;
  }
}